.mabileMenuContainer {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}
.divMobileMenu {
  display: flex;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--system-default-20, #dedede);
  background: var(--system-default-10, #f8f8f8);
}

.logoMenu {
  fill: var(--typography-black);
}

.contactMenu {
  color: var(--system-default-10);

  /* desktop/h5-semibold-button */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  display: flex;
  width: 156px;
  height: 56px;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;

  border-radius: 16px;
  background: #1b3641;

  /* shadowlight-white */
  box-shadow: 0px 0px 8px 0px rgba(248, 248, 248, 0.08);
}

.svgMenu {
  stroke: var(--primary-black);
}

.nav {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  width: 100%;
  gap: 40px;
  flex-direction: column;
  align-items: center;
  background: var(--background-whitegrey);
}

.navMenuMobile {
  color: var(--typography-bluedark);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
}

.buttonMenuMobile {
  border: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: inherit;
  font-size: 100%;
  cursor: pointer;
  background: none;
}
