.sectionHero {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../images/desktop/hero1x.jpg);
  background-size: cover;
  /* height: 1080px; */
  /* padding: 296px 120px; */
  margin-top: 120px;
  padding-top: 296px;
  padding-bottom: 296px;
  padding-left: 120px;
  padding-right: 535px;
}

.sectionHeroTitle {
  color: var(--system-default-10);

  /* desktop/h1-medium */
  font-family: Montserrat;
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px; /* 114.286% */
  /* max-width: 828px; */
  width: 828px;
  margin-bottom: 24px;
}

.sectionHeroText {
  color: var(--system-default-10);

  /* desktop/h3-medium */
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  max-width: 828px;
  /* margin-bottom: 24px; */
}

.sectionHeroTextUl {
  margin-top: 24px;
  margin-bottom: 40px;
}

.sectionHero li::before {
  content: "\2022";
  color: var(--system-default-10);
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.sectionHeroDiv {
  display: flex;
  gap: 24px;
}

.sectionHeroLinks {
  display: flex;
  width: 260px;
  /* height: 56px; */
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;

  border-radius: 16px;
  border: 1px solid var(--system-default-10);

  /* shadowlight-white */
  box-shadow: 0px 0px 8px 0px rgba(248, 248, 248, 0.08);

  color: var(--system-default-10);

  /* desktop/h5-medium */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.sectionHeroLinks:hover,
.sectionHeroLinks:focus {
  background: var(--primary-yellow);
  color: var(--primary-bluedark);
  /* box-shadow: 0px 0px 8px 0px rgba(248, 248, 248, 0.08); */
}
