.header {
  padding: 40px 120px;
  border-bottom: 1px solid var(--system-default-20, #dedede);
  background-color: var(--system-default-10);
}

.fixedHeader {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.headerDiv {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerNav {
  display: flex;
  gap: 40px;
  align-items: center;
}

.headerNavMenu {
  text-decoration: none;
  color: var(--typography-bluedark, #1b3641);

  /* desktop/h5-medium */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.headerNavMenu:hover::after,
.headerNavMenu:focus::after,
.headerNavMenu.active::after {
  content: "";
  display: block;
  border-bottom: 3px solid var(--typography-bluedark, #1b3641);
  margin-top: 2px;
}

/* .headerNavMenu.active::after {
  content: "";
  display: block;
  border-bottom: 3px solid red;
  margin-top: 2px;
} */

/* .headerNavMenu:hover {
  text-decoration: underline;
  color: red;
} */

/* .headerNavMenu.active {
  text-decoration: underline;
  color: red;
} */

.headerAddress {
  display: flex;
  width: 260px;
  /* height: 56px; */
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  /* gap: 10px;
  flex-shrink: 0; */

  border-radius: 16px;
  border: 1px solid var(--primary-bluedark, #1b3641);

  /* shadowlight-black */
  box-shadow: 0px 0px 8px 0px rgba(27, 54, 65, 0.08);

  color: var(--typography-bluedark, #1b3641);

  /* desktop/h5-semibold-button */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
}

.headerAddress:hover,
.headerAddress:focus {
  background: var(--background-white, #fcfcfc);
  /* shadowdark-black */
  box-shadow: 0px 0px 16px 0px rgba(27, 54, 65, 0.16);
}
